* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
}

.text {
    color: #CCC;
}

.flex-vertical {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.flex-horizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
}


.flex-right {
    justify-content: flex-end;
}

.flex-space-between {
    justify-content: space-between;
}

.box-content {
    margin: 2px;
}

.toolbar {
    background-color: #111;
    padding: 4px;
}

/* the canvas *must not* have any border or padding, or mouse coords will be wrong */
.emscripten {
    border: 0 none;
}

.spinner {
    height: 30px;
    width: 30px;
    margin: 20px 0 0 20px;

    -webkit-animation: rotation .8s linear infinite;
    -moz-animation: rotation .8s linear infinite;
    -o-animation: rotation .8s linear infinite;
    animation: rotation 0.8s linear infinite;

    border: 5px solid rgb(235, 235, 235);
    border-top-color: rgb(120, 120, 120);

    border-radius: 100%;
    background-color: rgb(189, 215, 46);
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes rotation {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-o-keyframes rotation {
    from {
        -o-transform: rotate(0deg);
    }
    to {
        -o-transform: rotate(360deg);
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#status {
    font-weight: bold;
    color: rgb(120, 120, 120);
}

#progress {
    height: 20px;
    width: 30px;
}

#output {
    width: 100%;
    height: 120px;
    background-color: #111;
    font-family: 'Lucida Console', Monaco, monospace;
    outline: none;
    font-size: 14px;
}